html,
body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 100%;
    font-weight: 400;
}

#firstScreen {
    height: 100%;
    width: 100%;
    background: url(Images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#menu {
    position: absolute;
    height: 100px;
    width: 100%;
    /*background: #454545;
    opacity: 05;*/
    /*box-shadow: 1px 0px 15px 0px #555555;*/
}

#logoName {
    position: absolute;
    left: 25%;

    box-sizing: border-box;

    width: auto;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 29px;


}



#menuButtons {
    position: absolute;
    left: 50%;
    font-family: "Roboto";
    font-size: 100%;
    font-weight: 500;
}

.menuButton {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    top: 33px;
    height: 34px;
    width: auto;
    color: #fff;
    margin-right: 20px;
    letter-spacing: 0px;
    -webkit-transition: transform 0.25s;
    -moz-transition: transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
}

.menuButton:last-child {
    margin-right: 0%
}

.menuButton:hover {
    cursor: pointer;
    color: #fff;
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -o-transform: scale(1.10);
    transform: scale(1.10);

}

#moto {

    margin: 0px 0px 100px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto";
    font-weight: 100;
    font-size: 250%;
    margin: 0px 0px 0px 0px;
    padding: 5px 35px 45px 35px;
    border-radius: 50px;
    color: #dedede;
    background-color: #7c7c7c;
    white-space: nowrap;
    letter-spacing: 0px;
    line-height: 200%;
}

#moto div {
    margin: 0px 0px 0px 0px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 350%;
    padding: 0px 0px 0px 0px;
}

#secondScreen {
    height: 100%;
    background-color: #efefef;
}


#about1 {
    box-sizing: border-box;
    position: absolute;
    top: 150%;
    left: 27.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 70%;
    background: #fff;
    padding: 2% 2% 2% 2%;
    color: black;
    border-radius: 25px;
    font-family: "Roboto";
    line-height: 175%;

}
#about2 {
    position: absolute;
    box-sizing: border-box;
    top: 150%;
    left: 67.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 70%;
    background: #fff;
    padding: 2% 2% 2% 2%;
    color: black;
    border-radius: 25px;
    font-family: "Roboto";
    line-height: 175%;
}



#thirtScreen {
    height: 100%;
    background-color: #efefef;
}

#dojazd {
    box-sizing: border-box;
    position: absolute;
    top: 250%;
    left: 27.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 20%;
    background: #fff;
    padding: 2% 2% 2% 2%;
    color: black;
    border-radius: 25px;
    font-family: "Roboto";
    line-height: 175%;;
}

#googleMap{
    border-radius: 25px;
    position: absolute;
    box-sizing: border-box;
    top: 250%;
    left: 67.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}