html,
body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 100%;
}

#firstScreen {
    height: 100%;
    width: 100%;
    background: url(Images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#menu {
    position: fixed;
    height: 100px;
    width: 100%;
    background: #232323;
    border-bottom: solid 1px;
    border-color: #676767;

}

#menuButtons {
    position: fixed;
    left: 35%;
    font-family: "Lato";
    font-size: 140%;
}

.menuButton {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    top: 33px;
    height: 34px;
    width: auto;
    color: #efefef;
    /*border: solid;
    border-color: aliceblue;*/
    margin-right: 30px;
    -webkit-transition: transform 0.25s;
    -moz-transition: transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
}

.menuButton:last-child {
    margin-right: 0%
}

.menuButton:hover {
    cursor: pointer;
    color: #dedede;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);

}

#logo {
    position: fixed;
    top: 5px;
    left: 10%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}
#logo:hover {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.square {
    width: 20px;
    height: 20px;
    color: #dedede;
}

.v {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-color: #dedede;
}


.h {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-color: #dedede;
}
.h img {
    position: relative;
    top: 2px;
}

#secondScreen {
    height: 100%;
}

#thirtScreen {
    height: 100%;
    background-color: aqua;
}